.profile__container {
    max-width: 700px;
    margin: auto;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.profile__container--margin-top {
    margin-top: 4rem;
}

.profile__title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
}

.profile__details {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.profile__edit-form {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.profile__picture {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    border: 5px solid #f9a825;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

p {
    font-size: 18px;
    color: #34495e;
    line-height: 1.6;
}

strong {
    color: #f9a825;
}

.profile__edit-btn,
.profile__submit-btn {
    background-color: #ffb74d;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.profile__edit-btn:hover,
.profile__submit-btn:hover {
    background-color: #f9a825;
}

.profile__form-group {
    margin-bottom: 20px;
}

.profile__form-control {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #bdc3c7;
    transition: border-color 0.3s ease;
}

.profile__form-control:focus {
    border-color: #ffb74d;
    outline: none;
}
.dark-mode .profile__container {
    background-color: #333;
    color: #fff;
}

.dark-mode .profile__title,
.dark-mode p,
.dark-mode  {
    color: #fff;
}

.dark-mode .profile__details,
.dark-mode .profile__edit-form {
    background-color: #444;
    border: 1px solid #555;
}





.dark-mode .profile__form-control {
    background-color: #555;
    color: #fff;
    border: 1px solid #666;
}

.dark-mode .profile__form-control:focus {
    border-color: #ffb74d;
    outline: none;
}


