.categories {
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  height: 100%;
  display: grid;
  border-radius: 3px;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white !important;
}
.wishlist-button {
  position: absolute; /* Positions button within the card */
  top: 12px; /* Adjust to align properly */
  right: 12px; /* Adjust to align properly */
  background: none; /* Transparent background */
  border: none; /* No border */
  font-size: 1.8rem; /* Bigger heart icon */
  color: gray; /* Default color */
  cursor: pointer; /* Pointer cursor on hover */
  transition: color 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

.wishlist-button.active {
  color: red; /* Active wishlist color */
}

.wishlist-button:hover {
  transform: scale(1.2); /* Slightly enlarges the heart on hover */
  color: darkred; /* Hover color */
}
