.placeOrderPage {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    background-color: #f8f9fa;
  }
  
  .orderDetailsCard, .paymentCard {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 48%;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .cartTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
  }
  
  .cartTable th, .cartTable td {
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
  }
  
  .cartTable th {
    background-color: #f8f9fa;
    font-weight: 600;
  }
  
  .cartTable td {
    background-color: #fdfdfd;
  }
  
  .cartTable tfoot {
    font-weight: 600;
    background-color: #f8f9fa;
  }
  
  .placeOrderActions {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }
  
  button {
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .paymentCard {
    background: #f7f9fc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  
  .paymentCard h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .CheckoutForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .CheckoutForm input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .CheckoutForm button {
    padding: 0.75rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .CheckoutForm button:hover {
    background-color: #218838;
  }
  
  .payment {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .payment input[type="radio"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  
  .payment span {
    font-size: 1rem;
    color: #333;
  }
  .product-images{
    width: 4vw;
  }
  