.homepage {
  color: #fff;
  background-image: url("https://res.cloudinary.com/drhborpt0/image/upload/v1732948738/SmartCartBG2_cgajv2.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.homepage .hero-section {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(45, 55, 72, 0.8);
  padding: 50px 20px;
}

.homepage .hero-content {
  max-width: 800px;
}

.homepage .hero-title {
  font-size: 3rem;
  font-weight: bold;
  color: #45a049;
}

.homepage .hero-title span {
  color: #fff;
}

.homepage .hero-subtitle {
  font-size: 1.2rem;
  margin: 20px 0;
  color: #ddd;
}

.homepage .shop-now-button {
  background-color: #45a049;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.homepage .shop-now-button:hover {
  background-color: #3a923e;
  transform: scale(1.05);
}

.homepage .categories-section {
  padding: 40px 20px;
}

.homepage .section-title i {
  color: #45a049;
  margin-right: 10px;
}

.homepage .section-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #45a049;
  position: relative;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  background-color: rgba(45, 55, 72, 0.7);
}

.homepage .section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 0;
  height: 6px;
  background: linear-gradient(90deg, #45a049, #3a923e);
  border-radius: 3px;
  transition: width 0.4s ease;
}

.homepage .section-title:hover::after {
  width: 70%;
}

#categoriesCarousel {
  max-width: 70%;
  margin: 0 auto; 
}

.category-image {
  height: 400px;
  object-fit:scale-down;
  border-radius: 10px; 
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5); 
  padding: 10px;
  border-radius: 5px;
}

.category-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #45a049;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.carousel-indicators button {
  background-color: #45a049;
}

.carousel-indicators .active {
  background-color: #3a923e;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); 
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(69, 160, 73, 0.5); 
}

