:root {
  --primary-color: #1abc9c;
  --secondary-color: #2c3e50;
  --accent-color: #16a085;
  --light-text-color: #ecf0f1;
  --dark-text-color: #2c3e50;
  --hover-color: #16a085;
  --transition-speed: 0.3s;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.footer {
  background-color: #2d3748;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-logo-link {
  text-decoration: none;
  color: #fff;
}

.footer-logo h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.footer-links li {
  font-size: 14px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  color: #3182ce;
}

.footer-socials {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 25px;
}

.footer-social-icon {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.footer-social-icon:hover {
  color: #3182ce; /* Light blue on hover */
}

.footer-copy {
  margin-top: 15px;
  font-size: 14px;
  color: #d1d5db;
}

/* Responsive Design for Small Screens */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-links ul {
    flex-direction: column;
    gap: 15px;
  }

  .footer-socials {
    gap: 15px;
  }
}

.copy {
  color: white;
}
