

.wishlist-card-remove-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
}

.wishlist-card-remove-btn:hover {
  background-color: #a71d2a;
}

.no-results1 {
  text-align: center;
  font-size: 1.5rem;
  color: #666;
}
